/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

header {
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

header p {
    font-size: 24px;
    margin: 10px 0 0;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Estilos específicos de cada header */
.home-header {
    background-image: url('img/madrid.jpg'); /* Cambia por la imagen de fondo que prefieras */
}

.about-header {
    background-image: url('img/about.jpg');
}

.portfolio-header {
    background-image: url('img/portfolio.jpg');
}

.contact-header {
    background-image: url('img/contact.jpg');
}
